
@{
    ViewBag.Title = "Xacnhandathang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center" class="my-3">Đơn hàng đã được ghi nhận</h2>
<h3 style="text-align:center" class="my-3"> Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất!</h3>
<p class="my-3" style="text-align:center">@Html.ActionLink("TRỞ VỀ TRANG CHỦ","Index","Home")</p>

